.splash-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  overflow: hidden;
}

.splash-image {
  width: 250px;
  animation: bounceIn 2s ease-in-out; /* Aplica la animaci칩n 'bounceIn' */
}

/* Animaci칩n de rebote */
@keyframes bounceIn {
  0% {
    transform: scale(0.5); /* Comienza peque침o */
    opacity: 0; /* Comienza invisible */
  }
  50% {
    transform: scale(1.1); /* Se agranda un poco */
    opacity: 1; /* Se hace visible */
  }
  70% {
    transform: scale(0.9); /* Se encoge un poco */
  }
  100% {
    transform: scale(1); /* Vuelve al tama침o normal */
  }
}
